<div>
    <h3>libs</h3>
    <ul>
        {{#each this}}
        <li>
            <p>{{this.id}}</p>
        </li>
        <li>
            <p>{{this.lib}}</p>
        </li>
        {{/each}}
    </ul>
</div>