<div>
    <h3>frameworks</h3>
    <ul>
        {{#each frameworks}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>list</h3>
    <ul>
        {{#each libs}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>